<?xml version ="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BarrocIntense"
			 connectionString="server=localhost;port=3306;user=c_sharp_dev;password=im@punchyouintheface;database=barroc_it"/>
	</connectionStrings>
</configuration>